<div class="page-header">
	<h1>{{user.name}} <small>{{user._id}}</small></h1>
</div>
<div id="dataHolder" data-values="{{values}}"></div>
<div class="jumbotron">
	<div class="row">
		<div class="col-xs-5 col-xs-offset-1 white-container">
			<h2><small>Score:</small> {{user.score}}</h2>
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th title="Amount of blobs"><i class="glyphicon glyphicon-fullscreen"></i></th>
						<th title="Upward thrust"><i class="glyphicon glyphicon-arrow-up"></i></th>
						<th title="Left thrust"><i class="glyphicon glyphicon-arrow-left"></i></th>
						<th title="Right thrust"><i class="glyphicon glyphicon-arrow-right"></i></th>
						<th title="Downward thrust"><i class="glyphicon glyphicon-arrow-down"></i></th>
						<th title="Anticlockwise torque"><i class="glyphicon glyphicon-share-alt icon-flipped"></i></th>
						<th title="Clockwise torque"><i class="glyphicon glyphicon-share-alt"></i></th>
						<th title="Timestamp"><i class="glyphicon glyphicon-share- glyphicon glyphicon-hourglass"></i></th>
					</tr>
					<thead>
					<tbody>
						{{#each user.attributes}}
						<tr>
							<td title="Amount of blobs">{{amountOfBlobs}}</td>
							<td title="Upward thrust">{{upwardThrust}}</td>
							<td title="Left thrust">{{leftThrust}}</td>
							<td title="Right thrust">{{rightThrust}}</td>
							<td title="Downward thrust">{{downwardThrust}}</td>
							<td title="Anticlockwise torque">{{anticlockwiseTorque}}</td>
							<td title="Clockwise torque">{{clockwiseTorque}}</td>
							<td title="Timestamp">{{timeStamp}}</td>
						</tr>
						{{/each}}
				</tbody>
		</table>
		</div>
		<div class="col-xs-5 white-container">
			<canvas id="myChart"></canvas>
		</div>
	</div>
</div>
<script type="text/javascript">
	var ctx = document.getElementById("myChart");
	var dataHolder = document.getElementById("dataHolder");
	var values = dataHolder.getAttribute('data-values').split(",");
	var randomColor = 'rgba(' + getRandomColorInt() + ',' + getRandomColorInt() + ',' + getRandomColorInt() + ',0.2)';

	var myChart = new Chart(ctx, {
		type: 'radar',
		data: {
			labels: ["Amount of blobs", "Upward thrust", "Left thrust", "Right thrust", "Downward thrust", "Anticlockwise torque", "Clockwise torque"],
			datasets: [{
				backgroundColor: randomColor,
				data: values
			}]
		},
		options: {
			legend: {
				display: false
			}
		}
	});

	function getRandomColorInt() {
		return Math.floor(Math.random() * 256);
	}
</script>